# Flask Configuration
SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here

# Database Configuration (MySQL)
# Format: mysql+mysqlconnector://user:password@host:port/database
DATABASE_URL=mysql+mysqlconnector://user:password@localhost/studymap

# OpenAI Configuration
OPENAI_API_KEY=your-openai-api-key-here

# Other Settings
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216

BREVO_API_KEY=xkeysib-954e986c04b8a148bf29d0c73622eff70158553b1b11990a419b5208d3ac7e-UYH71nVPlMo4qfsy
SENDER_EMAIL=prajapatived2162@gmail.com

